@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Merriweather&family=Roboto&display=swap');

::-webkit-scrollbar{
  background-color: rgb(110, 110, 239);
  border-radius: 12px;
  width: 13px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(191, 159, 254);
}

.ul-items::-webkit-scrollbar{
  background-color: rgb(110, 110, 239);
  border-radius: 8px;
  width: 10px;
}

.ul-items::-webkit-scrollbar-thumb{
    background-color: rgb(191, 159, 254);
}
